# DAY 3 assignment 1

In [ ]:
#1.you all are pilots ,you have to land a plane ,the altitude required for landing a plane is 1000ft,
#if it is less than that tell pilot to land the plane or it is more 
#than that but less than 5000ft ask the pilot to come down to 1000ft
#,else if it is more than 5000ft ask the pilot to go around and try later
altitude=input("enter any no")
altitude= int(altitude)
if altitude < 1000 :
    print("safe to land plane")
elif altitude > 1000 and altitude < 50000:
    print("bring plane down to 1000")    
else:
      print("turn around")

enter any no2000
bring plane down to 1000

# ASS2 DAY3

In [ ]:
#using for loop please print all prime no between 1-200 using for loop and range fun
for number in range(1,201):
  count =0
  for i in range(2,(number//2+1)):
    if(number%i==0):
      count=count+1
      break
  if(count==0 and number!=1):
    print("\n%d" % number,end='')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199